:root {
    --color-1: #636565;
    --color-2: #e7e7e7;
    --color-3: #aa2020;
    --color-4: #690c0c;
    --color-5: #8B8A8A;
    --color6: #ffffff
    --light: #cccccc;
    --dark: #151515;
}


/* textos */

body {
    margin:0;

    font-family: 'Homemade Apple';
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.tituloA {  
    font-size: 30px;
    line-height: 78px;
}

#casal {
    font-size: 38px;
    margin-top: 1rem;
}

.textoA {
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.035em;
} 

.textoA .destaque{
    font-size: 16px;
}

.sans-serif {
    font-family: 'Armata';
    font-style: normal;
    font-weight: 400;
}

#data {
    font-size: 15px;
    margin-top: -3.4rem;
    margin-bottom: 2rem; 
}



/* mobile first */

.abertura {
    margin-top: -2.2rem;
}

.tatoos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.separador{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.separador img {
    width: 8vw;
}

.texto-abertura{
    display: flex;
    justify-content: center;
}

.abertura .textoA {
    width: 75vw;
}

#textoinfocompleto {
    display: none;
}

.infos .espaco{
    display: flex;
    justify-content: center;
    margin-top: -4rem;
}

#o-dia-que{
    margin-left: 0.6rem;
    margin-right: 1.8rem;
}

#tomar-uma{
    margin-top: -.5rem;
}

.hora .textoA, .dress .textoA{
    margin-top: -3rem;
}

.local {
    display: flex;
    justify-content: center;
}

.mapouter {position:relative;text-align:right;width:70vw;height:60vw;}
.gmap_canvas {overflow:hidden;background:none!important;width:70vw;height:60vw;}
.gmap_iframe {width:70vw!important;height:60vw!important;}

.lembrete, .titulo-grande{
    display: flex;
    justify-content: center;
}

.lembrete .textoA, .titulo-grande .tituloA{
    width: 75vw;
}

.titulo-grande .tituloA{
    line-height: 2rem;
}

#chave {
    display: none;
}

.lista-presentes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.presente {
    display: grid;
    justify-items: center;
    margin-left: .7rem;
    margin-right: .7rem;
    margin-top: 1rem;
}

.imagem-bg{
    display: flex;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 20px;
    border: .5px solid #fff;
    background-color: rgb(255, 255, 255);
}

.presente img {
    max-width: 90px;
    max-height: 90px;
    border-radius: 20px;
}


.lista-presentes p {
    font-family: 'Armata';
    font-style: normal;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  
    font-size: .7rem;
    
    width: 90px;
    height: 24px;

    border: 1px solid var(--color-1);
    border-radius: 15px;
}

#botao-espaco, .botao-qrcode {
    display: flex;
    justify-content: center;
}

#copiado {
    display: none;
}

.qrcode img {
    width:130px
}


a {
    text-decoration: none;
    list-style: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-size: .8rem;
    
    height: 40px;
    width: 200px;

    border-radius: 2rem;
    border: none;
    
    margin-top: 1rem;
}




/* DESKTOP */

@media (min-width:1080px) {
    
    .separador img {
        width: 3vw;
    }

    #o-dia-que, #escolhemos, #tomar-uma{
        display: none;
    }

    #textoinfocompleto {
        display: block;
    }

    .mapouter {position:relative;text-align:right;width:50vw;height:20vw;}
    .gmap_canvas {overflow:hidden;background:none!important;width:50vw;height:20vw;}
    .gmap_iframe {width:50vw!important;height:20vw!important;}

    /* imagem tattoo */
    #dark-mode + .main #tattoo-noite{display: none;}
    #dark-mode + .main #tattoo-dia{display:block; margin-top: 4rem; width: 20vw; height: auto;}

    #dark-mode:checked + .main #tattoo-dia{display: none;}
    #dark-mode:checked + .main #tattoo-noite{display:block ; margin-top: 4rem; width: 20vw; height: auto;}

    /* TEXTOS */
    #casal {
        font-size: 5vw;
        margin-top: -21vw;
    }
    #data {
        font-size: 1.5vw;
        margin-top: -5.5vw;
        margin-bottom: 2rem; 
    }
    .textoA {
        font-size: 1.5vw;
        line-height: 130%;
        letter-spacing: 0.035em;
    } 
    .abertura .textoA {
        margin-top: 14vw;
    }
    .textoA .destaque{
        font-size: 1.8vw;
    }
    .tituloA {  
        font-size: 3vw;
        line-height: 78px;
    }
    .abertura .textoA {
        width: 58vw;
    }
    .button {
        font-size: 1rem;
        height: 3vw;
        width: 20vw;
        border-radius: 5rem;
    }
    #button2{
        width: 13vw;
    }

    .qrcode img {
        width:13vw
    }

    .cont-presentes{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .lista-presentes {
        width: 60%;
    }
    
    .imagem-bg{
        display: flex;
        justify-content: center;
        width: 12vw;
        height: 12vw;
        border-radius: 20px;
        margin-top: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .presente img {
        max-width: 12vw;
        max-height: 12vw;
        border-radius: 20px;
    }

    .lista-presentes p {
        margin-top: 2rem;
      
        font-size: 1.3vw;
        
        width: 12vw;
        height: 2vw;
        border-radius: 5vw;
    }
    .titulo-grande {
        display: flex;
    }
    .titulo-grande .tituloA{
        font-size: 4.5rem;
        width: 35%;
        line-height: 4vw;
    }
    .presentes1 .sans-serif {
        margin-top: -4rem;
    }

    .lembrete .textoA{
        width: 45vw;
    }
    
}
