/* :root {
    --color-1: #636565;
    --color-2: #8B8A8A;
    --color-3: #971919;
    --color-4: #690c0c;

} */

  
body {
    font-family: 'Armata', sans-serif;
    background-image: url(../img/ONDAS.png);
}



/* DARK MODE */

:root {
    --color-1: #636565;
    --color-2: #e7e7e7;
    --color-3: #aa2020;
    --color-4: #690c0c;
    --color-5: #8B8A8A;
    --light: #cccccc;
    --dark: #151515;
}

#theme-switcher {
    display: none;
}

#app-container {
    margin-top: -5rem;
    margin-left: -.5rem;
    width: 100vw;
  }


.theme-switcher-area {
    border: 1px solid var(--light);
    background-color: var(--dark);
    border-radius: 2rem;
    width: 4.5rem;
    height: 2.5rem;
    padding: 0.2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

.theme-switcher-button {
    position: relative;
    display: block;
    background: #f1aa02;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: 2px dashed var(--dark);
    transition: 0.3s;
    cursor: pointer;
}


.theme-switcher-button::after {
    position: absolute;
    width: 80%;
    height: 80%;
    content: "";
    background-color: var(--dark);
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s;
  }

#theme-switcher:checked + #app-container .theme-switcher-button {
    transform: translateX(100%);
    border: none;
}

#theme-switcher:checked + #app-container .theme-switcher-button::after {
    opacity: 1;
}






#theme-switcher + #app-container {
    color: var(--color-1);
}

#theme-switcher + #app-container .button{color:var(--color-1);}
#theme-switcher:checked + #app-container .button{color:var(--color-1);}


#theme-switcher + #app-container .button:hover{color:var(--color-2);}
#theme-switcher:checked + #app-container .button:hover{color:var(--color-2);}


#theme-switcher + #app-container .textoA {color: var(--color-5);}
#theme-switcher:checked + #app-container .textoA{color:var(--color-2);}


#theme-switcher + #app-container .textoB {color: var(--color-3);}
#theme-switcher:checked + #app-container .textoB {color: var(--color-3);}



#theme-switcher:checked + #app-container #tattoo-noite{display:block ; margin-top: 5rem; width: 220px; height: auto;}
#theme-switcher + #app-container #tattoo-noite{display: none;}

#theme-switcher + #app-container #tattoo-dia{display:block; margin-top: 5rem; width: 220px; height: auto;}
#theme-switcher:checked + #app-container #tattoo-dia{display: none;}




#theme-switcher:checked + #app-container {
    background-image: url(../img/ONDAS-dark.png);
    background-color: #0D0D0D;
    color: var(--color-2);
}











/* DARK MODE */





.abertura {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    text-align: center;

    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}





.tituloA {  
    font-family: 'Homemade Apple';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 78px;
    text-align: center; 
}

.data {
    font-family: 'Armata';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    margin-top: -3.4rem;
    margin-bottom: 2rem;
    
}

.textoA {
    font-family: 'Homemade Apple';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    /* or 14px */
    text-align: center;
    letter-spacing: 0.035em;
}

.abertura-texto .textoA {
    margin-left: 1.4rem;
    margin-right: 1.4rem;
}

.textoB {
    font-size: 16px;
}


.separador{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.infos .tituloA {
    margin-top: 0rem;
    font-size: 30px;
}

.infos .textoA{
    margin-top: -3.5rem;
}

#textoinfocompleto {
    display: none;
}
.infos .espaco{
    display: flex;
}

#o-dia-que{
    margin-left: 0.6rem;
    margin-right: 1.8rem;
}

#tomar-uma{
    margin-top: -2.2rem;
}

.local {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.mapouter {position:relative;text-align:right;width:90vw;height:70vw;}
.gmap_canvas {overflow:hidden;background:none!important;width:90vw;height:70vw;}
.gmap_iframe {width:90vw!important;height:70vw!important;}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-2);
    color: #FFFFFFA6;

    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    
    height: 40px;
    width: 200px;

    border-radius: 2rem;

    margin-top: 1rem;
}

a {
    text-decoration: none;
    list-style: none;
}


.lembrete {
    display: flex;
    justify-content: center;
}

#lembrete {
    width: 17rem;
}

.presentes1 {
    display: block
}

.qrcode {
    display: flex;
    justify-content: center;
}

.dress{
    width: 100%;
}

.botao-qrcode {
    display: flex;
    justify-content: center;
}

#button2 {
    font-size: .7rem;
    font-weight: 500;
    
    height: 30px;
    width: 120px;

    border-radius: 2rem;

    margin-top: 1rem;

    border-style: none;
}

#chave {
    display: none;
}

.flex {
    display: flex;
    justify-content: center;
}

.presentes1 .tituloA {
    font-size: 30px;
    line-height: 100%;
    margin-top: 3rem;
    width: 10rem;

}

.presentes1 .textoA {
    font-family: 'Armata';
    margin-top: -1.5rem;
}

.lista-presentes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.presente {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.presente img {
    width: 90px;
    height: auto;
    border-radius: 20px;
    border: .5px solid #fff;
    background-color: #fff;
}

.presente img:hover {
    cursor: pointer;
    border: .5px solid var(--color-2);
}

.lista-presentes p {
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: .8rem;
    
    width: 90px;
    height: 24px;

    border: 1px solid var(--color-2);
    border-radius: 15px;
}

.ultimo-separador{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

#ultimo-texto{
    font-size: 1rem;
}




/* desktop version */
@media (min-width:1080px) {

    /* #app-container{
        width: 100%;
    } */

    .abertura {
        display: block;
        width: 100%;
    }


    #theme-switcher + #app-container #tattoo-noite{display: none;}
    #theme-switcher + #app-container #tattoo-dia{height: 35vw; width: auto; margin-top: 5rem; padding-top: 6vw; margin-left: 40%; margin-right: 40%;}

    #theme-switcher:checked + #app-container #tattoo-dia{display: none;}
    #theme-switcher:checked + #app-container #tattoo-noite{height: 35vw; width: auto; margin-top: 5rem; padding-top: 6vw; margin-left: 40%; margin-right: 40%;}


    .tituloA {
        margin-top: -23vw;

        font-family: 'Homemade Apple';
        font-style: normal;
        font-weight: 400;
        font-size: 5vw;
        /* line-height: 138px; */
        text-align: center;
    }
    .data{
        margin-top: -5vw;
        font-size:1.5vw;
    }
        

    .abertura .textoA {
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
        margin-top: 20vw;


    }

    .textoA {
        font-size: 1.5vw;
        letter-spacing: 0.rem;
    }

    .textoB {
        font-size: 1.5vw;
        letter-spacing: 0.rem;
        font-weight: 600;
    }

    .separador{
        height: 3vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .infos {
        display: block;
    }

    .infos .tituloA{
        margin-top: 4vw;
        font-size: 3vw;
    }

    #textoinfocompleto{
        display: block;
    }

    #o-dia-que{
        display: none;
    }

    #escolhemos{
       display: none;
    }

    #tomar-uma{
        display: none;
    }

    .local {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2vw;
        margin-bottom: 1rem;
        
    }

    .mapouter {position:relative;text-align:right;width:600px;height:400px;}
    .gmap_canvas {overflow:hidden;background:none!important;width:600px;height:400px;}
    .gmap_iframe {width:600px!important;height:400px!important;}


    #botao-espaco{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .button {
        display: flex;
        justify-content: center;
        align-items: center;
    
        background-color: var(--color-2);
        color: #FFFFFFA6;
    
        text-transform: uppercase;
        font-size: 1.5vw;
        font-weight: 500;
        
        height: 4vw;
        width: 23vw;
    
        border-radius: 3rem;
    
        margin-top: 1rem;
    }

    .button:hover{
        background-color: var(--color-3);
        cursor: pointer;
    }

    .button:active {
        background-color: var(--color-4);
        cursor: pointer;
    }

    #lembrete {
        margin-top: 2rem;
        width: 40vw;
    }

    .presentes1 .tituloA {
        font-size: 4vw;
        width: 40%;
        margin-top: 5vw;
    }

    .presentes1 .textoA{
        margin-top: -4vw;
    }

    .qrcode {
        height: 15vw;
        margin-top: -1vw;

    }

    #button2 {
        font-size: 1.5vw;
        
        height: 4vw;
        width: 16vw;
    
        border-radius: 3rem;
    }

    #button2:hover{
        background-color: var(--color-3);
        cursor: pointer;
    }
    #button2:active {
        background-color: var(--color-4);
        cursor: pointer;
    }

    .lista-presentes {
        margin-top: 4vw;
        margin-left: 20%;
        margin-right: 20%;
    }

    .presente img {
        width: 13vw;
        height: auto;
        margin-top: 1vw;
    }
    
    .lista-presentes p {
        width: 13vw;
        height: 3vw;
        font-size: 1.5vw;
        border-radius: 3vw;
    }

    .ultimo-separador{
        margin-top: 3vw;
    }

    #ultimo-texto{
        font-size: 2rem;
    }

}
